from flask import Flask


def create_app():
    app = Flask(__name__)
    app.config.from_object('app.config.DevelopmentConfig')

    from app.db import db
    from app.views import api

    db.init_app(app)
    app.register_blueprint(api)
    return app