from flask.views import View


class ApiView(View):
    def get(self, resource_type, resource_id):
        pass

    def post(self, resouce_type, data):
        pass

    def put(self, resource_type, resource_id, data)):
        pass

    def delete(self, resource_type, resource_id):
        pass
